{% extends 'main.html' %}
{% block title %}
    <div id="siteTitle">
        <h1> Login </h1>
    </div>
{% endblock %}
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <h3 class="flash">{{msg}}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form class="form-container" action="{{ url_for('login_user') }}" method="POST">
            <div class="container-logging">
              <div class="logging-item">
                  <input type="text" name="login_username" placeholder="Username">
              </div>
              <div class="logging-item">
                  <input type="text" name="login_password" placeholder="Password">
              </div>
              <div class="logging-item">
                  <button id="redStyledButton" type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
    </form>
{% endblock %}

